extends base

block content 
  .home
    section.home__hero 
      .home__hero__image
        img(src='../img/Roma_Espresso_Blend.png').home__hero__image__center
        img(src='../img/Blade_Runner_Blend.png').home__hero__image__left
        img(src='../img/Kenya.png').home__hero__image__right
      .home__hero__text 
        h1.heading-primary We Sell Coffee.
        h1.heading-primary That is all.
        a.btn.btn--cta(href=`/shop?ordered=desc`) Shop now
    section.home__products
      .home__products__heading 
        h2.heading-secondary Our Bestsellers 
      hr.hr.home__products__hr
      .home__products__container
        each bestseller in bestsellers
          .home__products__container__card
            .card 
              a.card__link(href=`/product/${bestseller._id}`)
                .card__top
                  img.card__top__img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
                  .card__top__ellipse
                .card__product
                  h2.card__product__name.heading-tertiary= bestseller.name
                  p.card__product__description.paragraph= bestseller.description
                  hr.hr.hr__sm
                  .card__product__roast
                    p.paragraph--italic Roast level
                    p.paragraph--italic= bestseller.roast
    section.home__products
      .home__products__heading 
        h2.heading-secondary Latest Additions
      hr.hr.home__products__hr
      .home__products__container
        each addition in additions
          .home__products__container__card
            .card 
              a.card__link(href=`/product/${addition._id}`)
                .card__top
                  img.card__top__img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
                  .card__top__ellipse
                .card__product
                  h2.card__product__name.heading-tertiary= addition.name
                  p.card__product__description.paragraph= addition.description
                  hr.hr.hr__sm
                  .card__product__roast
                    p.paragraph--italic Roast level
                    p.paragraph--italic= addition.roast
    section.home__collage 
      .home__collage__image.home__collage__about
        h3.home__collage__text.heading-secondary Our Story
      .home__collage__image.home__collage__contact
        h3.home__collage__text.heading-secondary Contact Us
      .home__collage__image.home__collage__brew
        h3.home__collage__text.heading-secondary Brew Methods
      .home__collage__image.home__collage__sustain
        h3.home__collage__text.heading-secondary Sustainability
      .home__collage__image.home__collage__roasting
        h3.home__collage__text.heading-secondary Roasting