extends base

block content 
  .shop
    .shop-head
      .dropdown.dropdown--filter
        button.dropdown__btn Filter 
        .dropdown__content
          a.dropdown__link(href='#') Roast
          a.dropdown__link(href='#') Price
      h2.heading-secondary.heading-shop= filter 
      .dropdown.dropdown--sort
        button.dropdown__btn Sort by 
        .dropdown__content.dropdown__content--right
          a.dropdown__link(href='/shop/all') Bestsellers
          a.dropdown__link(href='/shop/roast?level=desc') Roast high to low
          a.dropdown__link(href='/shop/roast?level=asc') Roast low to high 
          a.dropdown__link(href='/shop/latest') Latest added 
          a.dropdown__link(href='#') Brew method - Wholebean
          a.dropdown__link(href='#') Brew method - Cafetiere
          a.dropdown__link(href='#') Brew method - Filter
    hr.hr
    .shop-products
      each product in products
        .card 
          a.card__link(href=`/product/${product._id}`)
            .card__top
              img.card__top__img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
              .card__top__ellipse
            .card__product
              h2.card__product__name.heading-tertiary= product.name
              p.card__product__description.paragraph= product.description
              hr.hr.hr__sm
              .card__product__roast
                p.paragraph--italic Roast level
                p.paragraph--italic= product.roast