extends base

block content 
  .shop
    .shop-head
      .dropdown.dropdown--filter
        button.dropdown__btn Filter 
        .dropdown__content
          a.dropdown__link(href=`/shop?sort=${currentSort}&roast=1`) Roast 1
          a.dropdown__link(href=`/shop?sort=${currentSort}&roast=2`) Roast 2
          a.dropdown__link(href=`/shop?sort=${currentSort}&roast=3`) Roast 3
          a.dropdown__link(href=`/shop?sort=${currentSort}&roast=4`) Roast 4
          a.dropdown__link(href=`/shop?sort=${currentSort}&roast=5`) Roast 5
          a.dropdown__link(href=`/shop?sort=${currentSort}&bestBrew=wholebean`) Brew method - Wholebean
          a.dropdown__link(href=`/shop?sort=${currentSort}&bestBrew=cafetiere`) Brew method - Cafetiere
          a.dropdown__link(href=`/shop?sort=${currentSort}&bestBrew=filter`) Brew method - Filter
          a.dropdown__link(href='/shop?sort=-ordered') Remove filters
      h2.heading-secondary.heading-shop= heading
      if filter
        h3.heading-tertiary.heading-filter= filter
      .dropdown.dropdown--sort
        button.dropdown__btn Sort by 
        .dropdown__content.dropdown__content--right
          a.dropdown__link(href='/shop?sort=-ordered') Bestsellers
          a.dropdown__link(href='/shop?sort=-roast,-ordered') Roast high to low
          a.dropdown__link(href='/shop?sort=roast,-ordered') Roast low to high 
          a.dropdown__link(href='/shop?sort=-dateAdded') Latest added
    hr.hr
    .shop-products
      each product in products
        .card 
          a.card__link(href=`/product/${product._id}`)
            .card__top
              img.card__top__img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
              .card__top__ellipse
            .card__product
              h2.card__product__name.heading-tertiary= product.name
              p.card__product__description.paragraph= product.description
              hr.hr.hr__sm
              .card__product__roast
                p.paragraph--italic Roast level
                p.paragraph--italic= product.roast